body {
box-sizing: border-box ;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: block;
}

.main-header {
background-color: #efe5e55a;
border: 2px solid rgba(128, 128, 128, 0);
padding: 5px;
width:100%;
height: 30px;
border-left: none;
border-right: none;
border-radius: 4px;
position: sticky;
bottom: 112px;


}

#search {
width: 40%;
border-color: #efe5e55a;
bottom: 10px;
padding-left: 160px;
position: relative;
left: 400px;
bottom: 42px;
border-radius: 4px;
animation: search 1s infinite;
cursor:pointer;

}
#search:hover{
background-color: rgba(154, 187, 188, 0.495);
}

@keyframes search {
    25% {
border-left: 2px solid rgb(13, 229, 60);

    }
50%{
    border-top: 2px solid yellow;
}
75% {
    border-right: 2px solid red;
}
 100% {
    border-bottom : 2px solid blue;
 }
}





#svg {
position: relative;
left: 530px;
bottom: 40px;
z-index: 1;

}
.circle-1{
    background-color: chartreuse;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: sticky;
    top: 50px;
    animation: change 1s infinite;
    
}

@keyframes change {
   50%{
    background-color: blue;
   }  
    100%{
        background-color: chocolate;
    }  
}

.circle-2{
    background-color: rgb(255, 0, 183);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: relative;
    top: 1px;
    left: 35px;
    animation: chang 1s infinite;
}

@keyframes chang {
    50%{
     background-color: rgb(10, 10, 19);
    }  
     100%{
         background-color: rgb(30, 210, 78);
     }  
 }

.circle-3{
    background-color: rgb(55, 18, 241);
    width: 15px;
    height:15px;
    border-radius: 100%;
    position: relative;
    bottom: 14px;
    left: 70px;
    animation: chan 1s infinite;
}

@keyframes chan {
    50%{
     background-color: rgb(255, 60, 0);
    }  
     100%{
         background-color: rgb(11, 228, 240);
     }  
 }


.main{
    background-image: linear-gradient(to right, rgb(98, 169, 219),rgb(56, 96, 59) );

}
.header-logo{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-image: linear-gradient(to right, rgb(48, 230, 28),pink);
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 15px ;
    margin-left:10px;

}

.logo-text{
    font-weight: bold;
    font-size: larger;
    color: aliceblue;
    position: relative;
    left: 45px;
    bottom: 48px ;
}

  #a {
float: left;
padding: 40px;
margin: 20px;
list-style: none;
text-decoration: none;
color: aliceblue;
position: relative;
  }

  #a:hover{
color: black;

  }

  /*#nested{
    list-style: none;
    display: ;
  }
*/
.nav {
    position: relative;
    left: 450px;
    bottom: 110px;
}
#blog{
    border-radius: 4px;
    border-color: rgb(69, 134, 102);
    padding-right: 8px;
    margin: 4px;
    color: rgb(27, 26, 27);
    background-color: rgb(69, 134, 102);
}



.sec{
    color: aliceblue;
    position: relative;
    right: 750px;
    top: 140px;
    font-size:x-large;
}



.section-1-div{
    background-color: aliceblue;
    width: max-content;
    position: relative;
    left: 950px;
    bottom: 50px;
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 10px;
    
}
    


#section-1-select-1{
   width: 300px; 
    
}

#section-1-select-1:hover{
border: 2px solid green;
}
#section-1-select-2{
    width: 300px; 
     
 }
 #section-1-select-2:hover{
    border: 2px solid green;
    }
 #btn {
    width:300px ;
    background-color: rgb(20, 232, 42);
    border: none;
    border-radius: 5px;
    
 }
 #btn:hover{
    color: aliceblue;
    background-color: rgb(42, 115, 102);

 }
 
 .footer-box-1{
    width: max-content;
    background-color: blue;
    padding: 20px;
    border-radius: 5px;
    color: aliceblue;
    float: left;
    position: relative;
    left: 400px;
 }
 .footer-box-2{
    width: max-content;
    background-color: blue;
    padding: 20px;
    border-radius: 5px;
    color: aliceblue;
    float: left;
    
    position: relative;
    left: 450px;
    top: 10px;
 }
 .footer-box-3{
    width: max-content;
    background-color: blue;
    padding: 20px;
    border-radius: 5px;
    color: aliceblue;
    float: left;
    position: relative;
    left: 500px;
 }
 