*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
background-color: rgb(136, 176, 214);
text-transform: capitalize;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}


